{% extends 'base.html.twig' %}

{% block page %}{{ title }}{% endblock %}
{% block title %}{{ title }}{% endblock %}

{% block body %}
    <h2>Twigカスタムタグ</h2>
    <p>{{ number|price }}</p>
    <p>{{ number|price('$', 2) }}</p>
    <p>{% helo %}</p>

{% endblock %}
