<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
</head>
<body>
<h1>{{ title }}</h1>
<p>{{ message }}</p>
<form action="/post_recieve" method="post">
    <input type="text" name="name">
    <input type="submit" value="Click"/>
</form>
</body>
</html>
